@media all {html {font-size: 26px;}}
@media all and (max-width: 1600px){html {font-size: 24px;}}
@media all and (max-width: 1000px){html {font-size: 23px;}}
@media all and (max-width: 880px){html {font-size: 22px;}}
@media all and (max-width: 800px){html {font-size: 21px;}}
@media all and (max-width: 600px){html {font-size: 20px;}}
@media all and (max-width: 480px){html {font-size: 19px;}}

@media all and (min-width: 60px) {
  img:not(.icon) {
    margin-left: -6rem;
    min-width: 120%;
  }
}

body {
  position: relative;
  font-variant-numeric: oldstyle-nums;
  max-width: 1200px;
  min-width: 500px;
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fae0a7;
  background-color: #2f2c27;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

body > * {
  font-family: "source-serif-4", serif;
  font-size: 90%;
  font-weight: 500;
  font-style: normal;
  margin-left: 11rem;
  margin-right: 2.5rem;
  text-rendering: optimizeLegibility;
}

@media all and (max-width: 1200px) {
  body {
    min-width: auto;
    max-width: 100vw;
  }
}

#content {
  width: 40rem;
  padding: 3rem 1rem 4rem 0rem;
}


.intro-text {
  font-size: 90%;
  margin-top: 0rem;
}

.recent{
  font-size: 90%;
  margin-top: 0.2rem;
  margin-bottom: -0.2rem;
}

.recent .date {
  display: inline-block;
  width: 4em;
  /* Adjust the width as needed */
  vertical-align: top;
}

.recent a {
  display: inline-block;
  max-width: calc(100% - 5em);
  /* Subtract the width of the date plus some margin */
  vertical-align: top;
}

.sidenote {
  font-size: 110%; 
  margin-bottom: 1rem;
  line-height: 1.35;
  color: #bfa770;
}


.social-icons a:hover {
  opacity: 100%;
  color: rgb(0, 0, 0);
  /* background: rgb(245, 174, 20); */
  transition: color 0.2s;
  border-radius: 50%;
}

img.icon {
  width: initial;
  height: 1.5rem;
  background: rgb(250, 224, 167);
  border-radius: 25%;
  padding: 6px;
  margin: 4px;
}


h2.article-title {
  font-weight: 711;
  /* text-transform: uppercase; */
  font-variant-caps: normal;
  line-height: 1.1;
  font-size: 1.7rem;
  letter-spacing: 0.07rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  margin: 0;
}

.title {
  text-decoration: none;
}

.fancy-quote {
  margin: 20px 0;
  font-family: 'playfair';
  font-size: 26px;
}

.fancy-quote::before {
  content: "\201C";
  font-size: 26px;
}

.fancy-quote::after {
  content: "\201D";
  font-size: 26px;
}

img {
  width: 15%;
}
