{{ define "main" }}

<div class="sidenote" style="margin-top: 0.4rem;">pages</div>

<div class="menu-container">
    {{ range .Site.Menus.main }}
    {{- if ne .Name "Home" -}}
    <h3 class="list"><a class="title" href="{{ .URL }}">{{ .Name | lower | markdownify }}</a></h3>
    {{ end }}
    {{ end }}
</div>
<div style="height: 2rem;"></div>

<h1 class="title">{{ .Title | markdownify }}</h1>

<div style="height: 1rem;"></div>

<!-- <img src="/avatar.png" class="sidenote" style="width: 8rem; min-width: initial; margin-left: 0rem; margin-top: 0rem;"> -->

<img src="https://albert-ying.github.io/kejunying.com/about/avatar.png" class="sidenote" style="width: 8rem; min-width: initial; margin-left: 0rem; margin-top: 0rem;">

<blockquote class="fancy-quote">Solve aging first, and with time, we'll solve all remaining challenges of humanity.</blockquote>

<p class="intro-text">{{ .Site.Params.intro | markdownify }}</p>

<div style="height: 1.5rem;"></div>


<div class="sidenote" style="margin-top: 0.1rem;">news</div>

{{ range .Site.Params.news }}
    <div class="recent">
      <span class="date">{{.date}}</span>
      <a href="{{ .url }}">{{ .name | markdownify }}</a>
    </div>
{{ end }}


<div style="height: 2.5rem;"></div>
<div class="sidenote">socials</div>
<div class="social-icons" style="margin-top: 0rem;">
    {{ if eq .Site.Params.iconsource "simple-icons" }}
        {{ with .Site.Params.social }}
            {{ range sort . "weight" }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                    <img class="icon" height="28" width="28" src="https://cdn.simpleicons.org/{{ .icon }}/444"/>
                </a>
            {{ end }}
        {{ end }}
    {{ else if eq .Site.Params.iconsource "fontawesome" }}
        {{ with .Site.Params.social }}
            {{ range sort . "weight" }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                    <i class="{{ .icon }}"></i>
                </a>
            {{ end }}
        {{ end }}
    {{ else }}
        {{ with .Site.Params.social }}
            {{ range sort . "weight" }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                    <i data-feather="{{ .icon }}" style="margin-right: 0.5rem;"></i>
                </a>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
